.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(215, 230, 233);
  color: black;
  text-align: center;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
