.nav_main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkcyan;
}
.nav_img {
  width: 6rem;
  margin: 10px;
  height: auto;
}
.ham_icon {
  display: none;
}
.nav_ul {
  display: flex;
  gap: 10vw;
}

.hamdrop {
  display: none;
}

.hamdrop a {
  background-color: darkcyan;
  text-decoration: none;
  color: black;
  display: block;
  padding: 1rem;
  text-align: center;
}
.hamdrop a:hover {
  background-color: black;
  color: beige;
}

@media screen and (max-width: 600px) {
  .ham_icon {
    display: block;
  }
  .nav_ul {
    display: none;
  }
  .hamdrop {
    display: contents;
  }
}
